#item-1{
    background-color: rgb(255, 74, 74);
}

#item-2{
    background-color: rgb(255, 161, 74);
}

#item-3{
    background-color: rgb(243, 255, 74);
}

#item-4{
    background-color: rgb(192, 255, 74);
}

#item-5{
    background-color: rgb(110, 255, 74);
}

#item-6{
    background-color: rgb(74, 255, 104);
}

#item-7{
    background-color: rgb(74, 255, 180);
}

#item-8{
    background-color: rgb(74, 252, 255);
}

#item-9{
    background-color: rgb(74, 198, 255);
}

#item-10{
    background-color: rgb(74, 137, 255);
}

#item-11{
    background-color: rgb(74, 95, 255);
}

#item-12{
    background-color: rgb(101, 74, 255);
}

#item-13{
    background-color: rgb(134, 74, 255);
}

#item-14{
    background-color: rgb(213, 74, 255);
}

#item-15{
    background-color: rgb(255, 74, 249);
}